.container {
    /* the whole html page */
    width: 100%;
    background-color: #962c3a;
}

body {
    font-family: sans-serif;
    margin: auto;
    padding: 0%;
    text-align: center;
}


/*headings*/

h1 {
    font-family: century gothic;
    font-size: 24px;
    color: whitesmoke;
}

h2 {
    font-family: century gothic;
    font-size: 20px;
    color: whitesmoke;
}

.main {
    /*Page content*/
    transition: margin-left 1.9s;
    overflow: hidden;
    width: 100%;
    color: white;
    font-size: 20px;
}

.main img {
    /* main image of the home page style */
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
}

.story {
    /* the story page structure */
    background-color: #962c3a;
    margin: 0%;
    padding: 0%;
    margin-bottom: 5px;
}


/* about page image content */

.main #abtT {
    /* the link text */
    position: absolute;
    top: 30%;
    left: 60%;
    font-size: 30px;
    font-weight: bolder;
    background-color: #962c3a;
    color: white;
    border-radius: 8px;
}

.main #abtT a {
    /*  the link text*/
    text-decoration: none;
    color: #ffffff;
}

.main #abtT li {
    /*  the link text*/
    list-style: none;
    padding: 2px;
}

.main #abtI img {
    /*  the image*/
    width: 100%;
    height: 500px;
}


/*   floating image on the home page    */

.main #floatImg {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 220px;
    left: 2px;
}

.main p {
    /*content paragraph*/
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

hr {
    /*  that horizontal line*/
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.maindrinks img {
    /* order page content*/
    width: 500px;
    height: 300px;
    padding: 10px;
    border-radius: 100px;
}

.pxlogo {
    /* the business logo */
    width: 100px;
    height: 60px;
    margin: auto;
}

.search-bar {
    position: absolute;
    background-color: white;
    top: 86%;
    transform: translate(-50%, -50%);
    height: 45px;
    left: 81%;
    border-radius: 60px;
}

.search-btn {
    float: right;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar:hover>.search-txt {
    width: 203px;
    padding: 0 6px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    font-size: 20px;
    transition: 1s;
    line-height: 40px;
    width: 0px;
    color: #962c3a;
}

.search-btn img {
    width: 38px;
    height: 38px;
}


/* ************************** */


/* ************************** */


/* ************************** */


/*  Navigation Bar */


/* ************************** */

.all_nav {
    /* make the navbar remain visible after scroll*/
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar {
    overflow: hidden;
    height: 167px;
    width: auto;
    margin: auto;
}

.bg-img {
    /*  navbar bg img */
    background-image: url(images/navbarHD.jpg);
    /* center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* positioning the navbar*/
}

.navbar a {
    /*navbar links */
    float: left;
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 14px 60px 10px 10px;
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 110px;
    overflow: hidden;
}

.navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
    margin-left: 200px;
}

.navbar a:hover {
    /* highlight pointed link */
    color: plum;
}

.navbar .active {
    /** highlight the current page **/
    border-radius: 9px;
    height: 29px;
    color: plum;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav1 img {
    border-radius: 400px;
}


/* ************************** */


/* ************************** */


/* ************************** */


/** sidenavbar **/


/* ************************** */

.side-nav {
    /* style the whole side nav bar */
    height: 75%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 163px;
    background-color: #962c3a;
    opacity: 1;
    overflow-x: hidden;
    border-radius: 0px 10px 900px 0px;
    padding-top: 60px;
    transition: 1.5s;
}

.side-nav a {
    /* different link properties */
    padding: 10px 10px 10px 5px;
    text-decoration: none;
    font-size: 25px;
    float: left;
    color: white;
    display: block;
}

.side-nav a:hover {
    /* highlight pointed link */
    color: plum;
}

.side-nav .active {
    /** highlight the current page **/
    color: plum;
}

.side-nav .btn-close img {
    /** when the close button is clicked **/
    position: absolute;
    top: 0;
    margin-top: 10px;
    right: 15px;
    font-size: 20px;
    margin-left: 60px;
    width: 40px;
    height: 40px;
}

.svg {
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    block-size: 30px;
    transition: 0.3s ease;
}


/* ************************** */


/* ************************** */


/* ************************** */


/** Footer **/


/* ************************** */

.fcontainer {
    /** whole footer area **/
    text-align: left;
    max-width: 1170px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    /** rows of the footer **/
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #962c3a;
    padding: 50px;
}

.footer-col {
    /** columns of the footer **/
    width: 22%;
    padding: 0 15px;
    color: aqua;
}

.footer-col ul li:not(:last-child) {
    /** last item of the link **/
    margin-bottom: 10px;
}

.footer-col ul li a {
    /** page links behaviour**/
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    /* highlight pointed link */
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .socialM-links a {
    /* social media links look */
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #ffffff;
}

.footer-col .socialM-links a:hover {
    /* highlight pointed link */
    color: plum;
    background-color: ffffff;
}

.footer h3 {
    /* heading 3 */
    color: #ffffff;
    font-size: 14PX;
}

.pix {
    /* name declaration */
    text-align: right;
    color: #ffffff;
}


/* ************************** */


/* ************************** */


/* ************************** */


/* FORM */


/* ************************** */

button {
    /* buton look and style */
    padding: 9px 25px;
    background-color: #962c3a;
    border-style: solid;
    border-radius: 12px;
    cursor: pointer;
    color: floralwhite;
}

input[type=email],
input[type=text],
input[type=name] {
    /* form input area and look */
    width: 250px;
    height: 5px;
    padding: 15px;
    margin: auto;
    margin-top: 1%;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: arial;
    font-size: 15px;
}

input[type=email]:focus input[type=text]:focus {
    /* highlight pointed input are */
    background-color: #ddd;
    outline: none;
}

input[type=name]:focus {
    /* highlight input area */
    background-color: #ddd;
    outline: none;
}

p {
    /* paragraph text style */
    color: white;
}

label {
    /* label style */
    color: black;
}

.formContainer #mssg {
    /* the message box style*/
    background-color: aliceblue;
    width: 550px;
    height: 250px;
    font-size: 15px;
    font-family: arial;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    margin-top: 1%;
}

button:hover {
    /* highlight pointed button */
    background-color: slateblue;
}


/* ************************** */


/* ************************** */


/* ************************** */


/*screen resizing for different devices-to be expanded*/


/* ************************** */

@media(max-width:574px) {
    .navbar-nav {
        display: none
    }
    .pxlogo {
        display: none
    }
    .main img {
        width: 100px;
        height: 100px;
    }
    .container {
        width: 100%;
    }
    .svg {
        position: absolute;
        top: 93px;
        left: 3px;
    }
    .footer-col {
        width: 100%;
        padding: 0 15px;
    }
}

@media(max-width:767px) {
    .pxlogo {
        display: none
    }
    .navbar-nav {
        display: none;
    }
    .search {
        display: none
    }
    .main img {
        width: 100%;
        height: 100%;
    }
    .main #floatImg {
        height: 350px;
        width: 350px;
        position: absolute;
        top: 110px;
        left: 2px;
    }
    .container {
        width: 100%;
        box-sizing: border-box;
    }
    .svg {
        position: absolute;
        top: 93px;
        left: 3px;
    }
    .footer-col {
        width: 25%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}


/* ************************** */


/* ************************** */